.dp-homepage {
    display: flex;
}

.sidebar {
    width: 250px; /* Fixed width for the sidebar */
    position: sticky; /* Make the sidebar sticky */
    top: 0; /* Stick to the top */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Allow scrolling */
}

.content {
    flex: 1; /* Fill the remaining space */
    padding: 20px; /* Space around content */
}

.form-group {
    margin-bottom: 15px; /* Space between form fields */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 450px; 
    margin: auto;/* Stack form elements vertically */
}

button {
    margin-top: 10px; /* Space above the button */
    padding: 10px; /* Padding for buttons */
    background-color: #6d5f8e; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
}

button:hover {
    background-color: #a9a8f2; /* Change background color on hover */
}

h2{
    margin-left: 400px ;
    margin-bottom: 40px;
    margin-top: 150px;
}

p{
    margin-top: 50px;
}